{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Welcome to my Dashboard
{% endblock %}
{% block head_stylesheets %}
        <link rel="stylesheet" href="{{ asset('app.css', ea.assets.defaultAssetPackageName) }}">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

{% block main %}
	<div class="container-fluid pt-4 px-4">
			<div class="row g-4">
					<div class="col-sm-6 col-xl-3">
							<div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
									<i class="fa fa-user fa-3x text-primary"></i>
									<div class="ms-3">
											<p class="mb-2">Nb utilisateurs</p>
											<h6 class="mb-0">{{users | length}}</h6>
									</div>
							</div>
					</div>
					<div class="col-sm-6 col-xl-3">
							<div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
									<i class="fa fa-chart-bar fa-3x text-primary"></i>
									<div class="ms-3">
											<p class="mb-2">Total Sale</p>
											<h6 class="mb-0">$1234</h6>
									</div>
							</div>
					</div>
					<div class="col-sm-6 col-xl-3">
							<div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
									<i class="fa fa-chart-area fa-3x text-primary"></i>
									<div class="ms-3">
											<p class="mb-2">Today Revenue</p>
											<h6 class="mb-0">$1234</h6>
									</div>
							</div>
					</div>
					<div class="col-sm-6 col-xl-3">
							<div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
									<i class="fa fa-chart-pie fa-3x text-primary"></i>
									<div class="ms-3">
											<p class="mb-2">Total Revenue</p>
											<h6 class="mb-0">$1234</h6>
									</div>
							</div>
					</div>
			</div>
			<div class="flex bg-body mt-5 p-4 w-2/3">
				<p>ici chart</p>
				<div class="">
				{{ render_chart(chart, {'class': 'my-chart'}) }}
				</div>
			</div>
	</div>

{% endblock %}
{% block body_javascript %}
{{ encore_entry_script_tags('app') }}
{% endblock body_javascript %}