{% set route = app.request.attributes.get('_route') %}

<header class="py-6">
  <div class="container
              flex
              justify-between
              items-center
              mx-auto
              px-8
              md:px-14
              lg:px-24
              w-full">
    <div class="text-lg font-bold">
      <a href="{{path('app_home')}}">CODE VIRAL</a>  
    </div>
    <div class="relative">
      <div class="hidden sm:hidden md:flex space-x-12 items-center">
        <ul class="flex space-x-12">
          <li class="nav-item {% if route == 'app_home' %} text-theme {% endif %}">
            <a href="{{ path('app_home') }}#home" class=" group uppercase">
            Accueil
            <span class="absolute w-[60px] h-1 bg-theme bottom-0 left-0 rounded transform scale-x-0 group-hover:scale-x-100 transition ease-bloob"></span>
            </a>
          </li>

          <li class="nav-item {% if route == 'app_about' %} active {% endif %}">
            <a class="group uppercase" href="{{ path('app_about') }}">
            CV
            <span class="absolute w-[30px] h-1 bg-theme bottom-0 left-[110px] rounded transform scale-x-0 group-hover:scale-x-100 transition ease-bloob"></span>
            </a>
          </li>

          <li class="nav-item {% if route == 'app_blog' %} active {% endif %}">
            <a class="group uppercase" href="{{ path('app_blog') }}">
            Blog
              <span class="absolute w-[40px] h-1 bg-theme bottom-0 left-[185px] rounded transform scale-x-0 group-hover:scale-x-100 transition ease-bloob"></span>
            </a> 
          </li>
          {# <a class="group" href="{{ path('app_home') }}#blog">
          Blog
          <span class="absolute w-[40px] h-1 bg-theme bottom-0 left-[333px] rounded transform scale-x-0 group-hover:scale-x-100 transition ease-bloob"></span>
          </a> #}
        </ul>
        <a href="{{ path('app_contact') }}" >
            <button class="px-6 py-2 bg-theme font-bold rounded-md uppercase">Contact </button>
        </a>
        {% if is_granted('ROLE_ADMIN') %}
          <a href="{{ path('app_admin') }}">
            <button class="px-6 py-2 bg-theme font-bold rounded-md">Dashboard</button>
          </a>
           <a href="{{ path('app_logout') }}">
            <button class="px-6 py-2 bg-theme font-bold rounded-md">Se <span class="uppercase">Deconnecter</span></button>
          </a>
        {% endif %}

        
      </div>
    </div>
    {# mobile #}
    <div class="md:hidden">
      <button class="mobile-menu-button">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7"/>
        </svg>
      </button>
    </div>
  </div>
  <div class="mobile-menu hidden md:hidden text-center px-10 py-5 space-y-3 border border-bg-theme mx-5">
    <a href="#home" class="block hover:text-selected-text">Accueil</a>
    <a href="#work" class="block hover:text-selected-text">A propos</a>
    <a href="#services" class="block hover:text-selected-text">Services</a>
    <a href="#blog" class="block hover:text-selected-text">Blog</a>
  </div>
</header>
